:root {
  --title-color: yellow;
  --subtitle-color: black;
}

.app {
  text-align: center;
}

.about {
  background: #edf2f7;
  color: #2d3748;
}


.projects {
  
}


//HEADER - TYPEWRITER ANIMATION STARTS

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #343F4F;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: var(--title-color);
  font-size: 6rem;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 3.75rem;
  font-weight: 600;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100%{
    top: -360px;
  }
}

.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #343F4F;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
//HEADER - TYPEWRITER ANIMATION ENDS



//ABOUT STARTS

.about-img {
  height: 350px;
  width: 200px;
  background-image: cover;
  background-position: center;
  background-repeat: none;
}

//ABOUT ENDS


//SKILL - SKILL TV STARTS

.skillset {
  min-height: 80vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.skill-tv {
  width: 90%;
  min-height: 300px; //make sure to update with monitor height
  max-width: 800px;
  position: relative;
  border: 2px solid yellow;
  border-radius: 3px;
  background-color: lightblue;
}

.monitor {
  height: 260px; //make sure to update with skill-tv height
  width: 94%;
  position: relative;
  left: 3%;
  margin-top: 3%;
  border: 2px solid yellow;
  background-color: green;
}

//SKILL - SKILL TV ENDS
